.AppBattleShip {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th,
td {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
}

.row-label {
  background-color: lightgray;
}

.square {
  background-color: white;
}

.myTable td {
  border: 1px solid #999;
}

.myTableNameTD {
  width: 100px;
}

.myTableMessageTD {
  width: 500px;
}